@page "/khongduoctruycap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"><strong>Dũng Nhớ</strong> không cho bạn truy cập chức năng này</p>
</header>
